.bot-chat {
  padding: 3px;
  margin: 5px;
  float: left;
  max-width: 90%;
  display: table;
  clear: both;
  margin-left: 15px;
  background-color: #edefed;
  border-radius: 8px;
  font-size: 15px;
}

.bot-links {
  padding: 3px;
  padding: 3px;
  margin: 5px;
  float: left;
  max-width: 90%;
  display: table;
  clear: both;
  margin-left: 15px;
  background-color: #edefed;
  border-radius: 8px;
  font-size: 15px;
}
