p{
    text-align: center;
    padding: 15px 10px ;
    color: white;
    font-size: 20px;
    margin: 0px 8px;
}

input[type="email"], input[type="text"], input[type="number"] {
    width: 90%;
    padding: 12px 20px;
    margin: 5px 8px 10px 8px;
    box-sizing: border-box;
    height: 10px;
    border-radius: 10px;
    border-style: none;
  }

  label {
      color: white;
      margin: 8px;
      font-size: 15px;
  }

  input[type=submit] {
      background-color: white;
      cursor: pointer;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      border-style: none;
      border-radius: 30px;
      margin-top: 20px;
  }

  .submit-button{
      text-align: center;
  }

  .error {
      color: rgb(197, 29, 29);
      font-size: 12px;
      float: right;
      margin-right: 22px;
      margin-top: 4px;
  }

  .phone {
    -moz-appearance: textfield;
  }
  .phone::-webkit-inner-spin-button {
    display: none;
  }
  .phone::-webkit-outer-spin-button,
  .phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }