.user-chat {
  padding: 3px;
  margin: 5px;
  float: right;
  max-width: 70%;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
  color: white;
  margin-right: 15px;
  display: table;
  clear: both;
  font-size: 15px;
}
